<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add a new Contact</h4>
            </div>
            <div class="modal-body">
                    {{ form(contactForm) }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="cancelCreateContact()" >Cancel</button>
                <button type="button" class="btn btn-primary" ng-click="submitCreateContact()" ng-disabled="contactForm.$invalid" ng-hide="contact.id">Create contact</button>
                <button type="button" class="btn btn-primary" ng-click="submitUpdateContact()" ng-disabled="contactForm.$invalid" ng-show="contact.id">Update contact</button>
            </div>
        </div>
    </div>
</div>