{% extends "AcmeDemoBundle::layout.html.twig" %}

{% block title "Symfony2 Angular Forms Demo" %}

{% block content_header '' %}

{% block content %}
    <h1 class="title">Symfony2 Angular Forms</h1>

    <div class="main-wrapper" ng-app="App" ng-controller="DemoController">

        <h2>Contact List</h2>

        <br />
        <button type="button" class="btn btn-primary" ng-click="addNewContact()">Add contact</button>
        <br />

        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Email address</th>
                    <th width="52px"><!-- actions --></th>
                </tr>
            </thead>
            <tbody ng-show="contactsLoaded && contacts.length === 0">
                <tr>
                    <td colspan="4" style="text-align: center;">
                        <i>No contacts yet</i>
                    </td>
                </tr>
            </tbody>
            <tbody ng-show="contactsLoaded && contactsError.length">
                <tr>
                    <td colspan="4" style="text-align: center;">
                        <i ng-bind="contactsError"></i>
                    </td>
                </tr>
            </tbody>
            <tbody ng-show="contactsLoaded && contacts.length > 0">
                <tr ng-repeat="contact in contacts">
                    <td ng-bind="contact.firstName"></td>
                    <td ng-bind="contact.lastName"></td>
                    <td ng-bind="contact.emailAddress"></td>
                    <td>
                        <button type="button" class="btn btn-xs btn-default" ng-click="updateContact(contact)">edit</button>
                    </td>
                </tr>
            </tbody>
        </table>

        {% include 'AcmeDemoBundle:Demo:contactModal.html.twig' %}
    </div>
{% endblock %}


{% block js %}
    {% javascripts
        'bundles/acmedemo/js/*.js'
        output="js/app.js"
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}


    <script>
        window.setTimeout(function () {
            $('.main-wrapper').scope().$eval('cities = {{ availableCities | json_encode | raw }}');
        }, 250);
    </script>

{% endblock %}
